body {
  background: cornsilk;
  font-family: sans-serif;
}

.add-lane {
  margin-left: 1.5em;
}

.add-lane:after {
  content: 'Add another lane';
  position: absolute;
  margin-left: 1em;
}

.lanes {
  display: flex;
  flex-wrap: wrap;
}

.lane {
  margin: 1em;
  border: solid 1px black;
  border-radius: 5px;
  border-top: none;
  background-color: linen;
}

.lane-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0.5em 1em;
  border-bottom: solid 1px black;
  background-color: forestgreen;
  border-top: solid 1px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.lane-name {
  
}

.notes {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

.value {
  margin-right: 10px;
}

.editable-cell {
  display: flex;
  justify-content: space-between;
}
